<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Countries</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let country of countries">
      <ion-img [src]="country.flags.png" style="width: 50px; margin-right: 10px;"></ion-img>
      <ion-label>{{ country.name.official }}</ion-label>
      <ion-button slot="end" (click)="onNewsClick(country)">News</ion-button>
      <ion-button slot="end" (click)="onWeatherClick(country)">Weather</ion-button>
    </ion-item>
  </ion-list>
</ion-content> 