<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Weather - {{ countryName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="weather-container" *ngIf="weather">
    <ion-img [src]="getWeatherIconUrl(weather.weather[0].icon)" class="weather-icon"></ion-img>
    <h2>{{ weather.weather[0].description }}</h2>
    <h1>{{ weather.main.temp }}{{ getTemperatureUnit() }}</h1>
  </div>
</ion-content>
