<ion-header>
  <ion-toolbar>
      <ion-title>Weather</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="weatherData">
      <ion-card-header>
          <ion-card-title>{{ weatherData.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <img [src]="'https://openweathermap.org/img/wn/' + weatherData.weather[0].icon + '@2x.png'">
          <p>{{ weatherData.weather[0].description }}</p>
          <p>Temperature: {{ weatherData.main.temp }}°C</p>
      </ion-card-content>
  </ion-card>
</ion-content>
