<ion-header>
  <ion-toolbar>
    <ion-title>{{ studentNumber }}</ion-title>
    <ion-button slot="end" fill="clear" (click)="onSettings()">
      <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input 
      label="Country Name" 
      labelPlacement="floating"
      [(ngModel)]="searchText"
      type="text">
    </ion-input>
  </ion-item>

  <ion-button 
    expand="block" 
    class="ion-margin-top"
    (click)="onSearch()"
    [disabled]="!searchText.trim()">
    Search
  </ion-button>
</ion-content> 