<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-radio-group [(ngModel)]="selectedUnit" (ionChange)="onUnitChange($event)">
      <ion-item>
        <ion-label>Metric</ion-label>
        <ion-radio slot="end" value="metric"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Imperial</ion-label>
        <ion-radio slot="end" value="imperial"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content> 